<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap function and css style -->
    <link rel="stylesheet" href="/src/static/bootstrap/css/bootstrap.min.css">
    <script src="/src/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- this html css style -->
	<link rel="stylesheet" href="/src/static/css/index.css">

    <!-- upload and modify function -->
    <script type="text/javascript" src="/src/static/js/uploadMoblie.js"></script>
    <script type="text/javascript" src="/src/static/js/preloadImage.js"></script>

    <title>upload</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if(username){ %>
                        <li class="nav-item mobile">
                            <a class="nav-link active" href="/uploadFile">Upload</a>
                        </li>
                        <li class="nav-item mobile">
                            <a class="nav-link" href="/index">Games</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">您好, <%= username%></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">登出</a>
                        </li>
                        
                        
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <% } %>
                    <input id="getUserID" type = "hidden" value = "<%= username%>">
                    <input id="getGameID" type = "hidden" value = "<%= gameID%>">
                    <input id="password" type = "hidden" value = "<%= password%>">
                </ul>
            </div>
        </div>
    </nav>


    <!-- choose default Pic -->
    <div class="modal fade detailCard" id="detailCardModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">使用預設圖片</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="background-color: orangered;">
                <div class="container-fluid">
                    <div id="detailCard">
                        <div>
                            <% let defaultGroupNum = 0 %>
                            <% let allDefaultNum = 0 %>
                            <% for (const [key, value] of Object.entries(userImageData)) { %>
                                <% defaultGroupNum++ %>
                                <div id=<%= key + '_default_image' %> key=<%= allDefaultNum+1 %> style="display: none;" class="row row-cols-1 row-cols-md-2 g-4 " >
                                    <% for(let i=0;i<value.items.length;i++) { %>
                                        <% allDefaultNum++ %>
                                        <div id=<%= value.items[i].name %> class="col">
                                            <div id=<%= "defaultCard" + (allDefaultNum) %> class="card">
                                                <img id=<%= "defaultPic" + (allDefaultNum) %> text="<%= value.items[i].src %>" src=<%= value.items[i].src %> class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><%= value.items[i].description %></h5>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>


    <!-- right select bar -->
    <div class="bd-link">
        <form action="/doUpload" id="dataForm" method="post" enctype="multipart/form-data">
            <div id="allCards">
            <% let cardNum=0 %>
            <% let groupNum=0 %>
            <% for(let i=0; i< userJsonData.items.length; i++) { %>
                <% if(userJsonData.items[i].items){ %>
                    <!-- This is card Group spot -->
                    <div id=<%= "cardGroup" + (groupNum+1) %>>
                        <% groupNum++ %>
                        <% for(let s=0; s < userJsonData.items[i].items.length; s++) { %>
                            <% if(s==0){ %>
                                <div id=<%= "chooseCardGroup" + (s+1) %> type="group" name=<%= userJsonData.items[i].name%> class="card text-center loginBox" style="background-color: orange;">
                            <% } else { %>
                                <div id=<%= "chooseCardGroup" + (s+1) %> type="group" name=<%= userJsonData.items[i].name%> class="card text-center loginBox" style="background-color: orange; display: none;">
                            <% } %>
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <button type="button" onclick="switchNextBox('pre', <%= groupNum %>)" style="float:left" class="btn btn-dark">上一個</button>
                                            <input type="text" name=<%= userJsonData.items[i].name + "_default" %> id=<%= userJsonData.items[i].name + "_default" %> class="card-img-top" value="<%= userJsonData.items[i].items[s].src %>">
                                            <!-- hidden -->
                                            <label class="form-label"><%= userJsonData.items[i].items[s].modifyTitle%></label>
                                            <button type="button" onclick="switchNextBox('next', <%= groupNum %>)" style="float:right" class="btn btn-dark">下一個</button>  
                                            <input class="form-control" type="file" name=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name%> id=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name%>>
                                        </div>
                                        <% if(userJsonData.items[i].items[s].position){ %>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-label">生成的X位置</label>
                                                    <input class="form-control" type="number" name=<%= userJsonData.items[i].items[s].name + "_position_x" %> id=<%= userJsonData.items[i].items[s].name + "_position_x" %> value=<%= userJsonData.items[i].items[s].position.x %> />
                                                </div>
                                                <div class="col">
                                                    <label class="form-label">生成的Y位置</label>
                                                    <input class="form-control" type="number" name=<%= userJsonData.items[i].items[s].name + "_position_y" %> id=<%= userJsonData.items[i].items[s].name + "_position_y" %> value=<%= userJsonData.items[i].items[s].position.y %> />
                                                </div>
                                            </div>
                                        <% } %>
                                        <% if(userJsonData.items[i].items[s].size){ %>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-label">圖片的縮放</label>
                                                    <input class="form-control" type="number" name=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name + "_size" %> id=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name + "_size" %> value=<%= userJsonData.items[i].items[s].size %> />
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">預覽圖</h5>
                                        <img style="width: 50%; height: 50%;" id=<%= userJsonData.items[i].name + "_image" %> name=<%= userJsonData.items[i].name + "_image" %> src=<%= userJsonData.items[i].items[s].src%>>
                                    </div>

                                    <% if(userJsonData.items[i].items[s].text){ %>
                                        <div class="card-header">
                                            <div class="mb-3">
                                                <label class="form-label">獲 得 道 具 的 文 字</label>
                                                <input type="text" name=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name + "_text" %> id=<%= userJsonData.items[i].name + "_" + userJsonData.items[i].items[s].name + "_text" %> class="card-img-top" value=<%= userJsonData.items[i].items[s].text%>>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <p>說明：</p>
                                            <p>當戳到某個盒子時，會出現的文字</p>
                                        </div>
                                    <% } %>

                                    <div class="card-footer text-muted">
                                        <button type="button" onclick="defaultPicShowGroup('<%= groupNum %>')"  data-bs-toggle="modal" data-bs-target="#detailCardModel" class="btn btn-dark">使用其他提供的圖片</button>
                                    </div>

                                </div>
                        <% } %>
                    </div>

                <% }else if(userJsonData.items[i].name){ %>
                    <% cardNum++ %>
                    <!-- This is card spot -->

                    <div id=<%= "chooseCard" + cardNum %> type="single" name=<%= userJsonData.items[i].name %> class="card text-center loginBox" style="background-color: orange;">
                        <div class="card-header">
                            <div class="mb-3">
                                <label class="form-label"><%= userJsonData.items[i].modifyTitle%></label>
                                <input type="hidden" name=<%= userJsonData.items[i].name + "_default" %> id=<%= userJsonData.items[i].name + "_default" %> class="card-img-top" value="<%= userJsonData.items[i].src%>">
                                <input class="form-control" type="file" name=<%= userJsonData.items[i].name %> id=<%= userJsonData.items[i].name %>>
                            </div>
                                            <!-- hidden -->
                            <% if(userJsonData.items[i].position){ %>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">生成的X位置</label>
                                        <input class="form-control" type="number" name=<%= userJsonData.items[i].name + "_position_x" %> id=<%= userJsonData.items[i].name + "_position_x" %> value=<%= userJsonData.items[i].position.x %> />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">生成的Y位置</label>
                                        <input class="form-control" type="number" name=<%= userJsonData.items[i].name + "_position_y" %> id=<%= userJsonData.items[i].name + "_position_y" %> value=<%= userJsonData.items[i].position.y %> />
                                    </div>
                                </div>
                            <% } %>
                            <% if(userJsonData.items[i].size){ %>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">圖片的縮放</label>
                                        <input class="form-control" type="number" name=<%= userJsonData.items[i].name + "_size" %> id=<%= userJsonData.items[i].name + "_size" %> value=<%= userJsonData.items[i].size %> />
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <div  class="card-body">
                            <h5 class="card-title">預覽圖</h5>
                            <img style="width: 50%; height: 50%;" id=<%= userJsonData.items[i].name + "_image" %> name=<%= userJsonData.items[i].name + "_image" %> src="<%= userJsonData.items[i].src%>">
                        </div>

                        <% if(userJsonData.items[i].text){ %>
                            <div class="card-header">
                                <div class="mb-3">
                                    <label class="form-label">獲 得 道 具 的 文 字</label>
                                    <input type="text" name=<%= userJsonData.items[i].name + "_text" %> id=<%= userJsonData.items[i].name + "_text" %> class="card-img-top" value=<%= userJsonData.items[i].text%>>
                                </div>
                            </div>

                            <div class="card-body">
                                <p>說明：</p>
                                <p>當戳到某個盒子時，會出現的文字</p>
                            </div>
                        <% } %>

                        <div class="card-footer text-muted">
                            <button type="button" onclick="defaultPicShowCard('<%= "chooseCard" + cardNum %>')"  data-bs-toggle="modal" data-bs-target="#detailCardModel" class="btn btn-dark">使用其他提供的圖片</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
            </div>

            <nav class="card-footer text-muted fixed-bottom" style="background-color: rgba(0, 0, 0, 0.664);">
                <button type="submit" onclick="saveFormData()" class="btn btn-warning">提交資料</button>
                <button type="button" onclick="clearAllData()" class="btn btn-danger middle">回到默認資料</button>
                <button type="button" onclick="createGame()" style="float: right;" class="btn btn-primary">生成遊戲</button>
            </nav>
        </form>
    </div>

</body>
</html>